/* imported fonts */

@font-face {
    font-family: tempel;
    src:url('tempelgrotesk-wide-TRIAL.otf')
}

/* imported fonts end*/

body {
    background-color: black;
    margin: 0;
}

.glyph1 {
    font-weight: 500;
    font-family: tempel;
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: 30vw;
    line-height: 40%;
    letter-spacing: 0.02em;
    
    color: rgb(255, 255, 255);
    -webkit-text-fill-color: white(0, 0, 0); 
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:rgb(255, 255, 255)
}
.end{
        color: #ffffff;
        font-family: 'Neue Haas Unica W1G';
        font-size: 2vw;
        position: absolute;
        bottom: -150%;
        right: 4%;
        text-align: right;
    } 
a {
        font-size: 2vw;
        text-decoration: none;
        color: #ffffff;
        position: relative;
        top: 30%;
        left: 20%;
        line-height: 0%;
        }
.ph1 {
    font-size: 2vw;
    position: absolute;
    top: 5%;
    right: 10%;
    padding: 5%;
    margin: 5%;
    color: #ffffff;
}
.problem1 {
    text-align:left;
}
.enclose1 {
    position:fixed;
    top:3%;
    right:1%;
   }

    .problem {
    text-align:right
}

.end:hover{
    font-style: italic;
}